:root {
  background-color: #ffffff;
  color: #213547;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

a:hover {
  color: #747bff;
}

h1 {
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin-inline: 2rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
